#msgReussi{
  position: absolute;
  top : 50%;
  left: 45%;
  padding : 24px;
  width: auto;
  height: auto;
  background-color: green;
  color: greenyellow;
  border-radius: 6px;
  font-size: 30px;
}
.animal>p{
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
}
.divAnimal{
  display : grid;
  grid-template-columns: repeat(5,18%);
  grid-template-rows: auto;
  column-gap: 2%;
  width: 99%;
  margin-top: 2rem;
  align-self: self-start;
}

.animal{
  padding: 12px;
  border: 1px solid black;
  border-radius: 6px;
  height : 25rem;
}

.animal>a{
  text-decoration: none;
  color: white;
  padding: 6px;
  border-radius: 3px;
  margin: 2px;
}

#modif{
  background-color: blue;
}

#suppr{
  background-color: red;
}